{% extends 'main/base.html'%}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<section class="py-lg-16 py-10">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-right-md-6 col-12 mb-6">
              <!-- caption -->
              <h2 class="display-4 mb-3 fw-bold">About Us</h2>
              <p class="lead">We are the largest BMW car dealer in the USA. The main thing for us is satisfied customers and the enjoyment of car sales. We have both used cars and brand new ones. It is also possible to deliver the car to another city and even to another country.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-12">
              <!-- card -->
              <div class="card mb-4 mb-lg-0">
                <!-- card body -->
                <div class="card-body p-5">
                  <!-- icon -->
                  <div class="mb-3"><i class="mdi mdi-school-outline mdi-48px text-primary lh-1 "></i></div>
                  <h3 class="mb-2">Make Delivery Accessible</h3>
                  <p class="mb-0">It is also possible to deliver the car to another city and even to another country.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <!-- card -->
              <div class="card mb-4 mb-lg-0">
                <!-- card body -->
                <div class="card-body p-5">
                  <!-- icon -->
                  <div class="mb-3"><i class="mdi mdi-school-outline mdi-48px text-primary lh-1 "></i></div>
                  <h3 class="mb-2">Learn and Grow</h3>
                  <p class="mb-0">With each sale we learn new things and improve</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <!-- card -->
              <div class="card mb-4 mb-lg-0">
                <!-- card body -->
                <div class="card-body p-5">
                  <!-- icon -->
                  <div class="mb-3"><i class="mdi mdi-school-outline mdi-48px text-primary lh-1 "></i></div>
                  <h3 class="mb-2">Make Our Customers</h3>
                  <p class="mb-0">We always strive to make our client happy, because our customers are the main thing for us.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="py-6">
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
              <div class="icon-rounded mb-4 bg-primary-light">
                <svg class="svg-icon w-2rem h-2rem text-primary">
                  <use xlink:href="#map-location-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Address</h3>
              <p class="text-muted">Komsomolskiy Prospect, 29<br>Perm<br><strong>Russia</strong></p>
            </div>
            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
              <div class="icon-rounded mb-4 bg-primary-light">
                <svg class="svg-icon w-2rem h-2rem text-primary">
                  <use xlink:href="#landline-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Call center</h3>
              <p class="text-muted"></p>
              <p class="text-muted"><strong>+7 952 643-5526</strong></p>
              <p class="text-muted"><strong>+7 902 799-1459</strong></p>
            </div>
            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
              <div class="icon-rounded mb-4 bg-primary-light">
                <svg class="svg-icon w-2rem h-2rem text-primary">
                  <use xlink:href="#mail-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Electronic support</h3>
              <p class="text-muted">Please feel free to write an email.</p>
              <ul class="list-unstyled text-muted">
                <li>burylov.2003@mail.ru</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
